{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> 
</head>
<body>
    <nav class="navbar">
        
      <img src="{% static 'sonnen.png' %}" alt="Logotipo da Empresa" class="logo">
      <div class="nav-group">
        
        <button class="contact-btn">Contato</button>
        
        <div class="dropdown">
            <button class="dropbtn" id="products-btn">Produtos</button>
            <div class="dropdown-content" id="product-dropdown">
                 {% for produto in produtos %}
                    <a href="{% url 'detalhes_produto' produto_id=produto.id %}">{{ produto.nome }}</a>
                {% empty %}
                    <p>Nenhum produto cadastrado.</p>
                {% endfor %}
            </div>
          </div>

        <a href="{% url 'logout' %}" class="button-logout">Sair</a>
      </div>

      
      
    </nav>
    
  
    <div id="contact-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Entre em Contato</h2>
            <p>Email: contato@sonnen.com.br</p>
            <p></p>
            <h4>Blumenau, Santa Catarina</h4>
            <p>Telefone: +55 (47) 3053-1551 </p>
            <p> </p>
            <h4>Santa Maria, Rio Grande do Sul</h4>
            <p>Telefone:+55 (55) 3223-4858</p>
            <p>Endereço: BR-287, 5635 - Camobi</p>
        </div>
    </div>

    <div class="selector"><h3>Velocidade do Vento</h3>
        
        <section class="perso">
            <button id="togglePersonalization">↓</button>
            <div id="personalizationSection" style="display: none;">
                <div class="persona-display">
                    <label for="lineColor">Cor da Linha:</label>
                    <input type="color" id="lineColor" name="lineColor" value="#0000ff">
        
                    <label for="fillColor">Cor de Fundo:</label>
                    <input type="color" id="fillColor" name="fillColor" value="#00ff00">
        
                    <button onclick="updateChartColors()">Atualizar Cores</button>
                </div>
            </div>
        </section>
    </div>

    <div class="dispositivo">
        <p>Dispositivo:</p>
        <select name="dispositivo_id" onchange="location = this.value;">
            {% for dispositivo in dispositivos %}
            <option value="?dispositivo_id={{ dispositivo }}">{{ dispositivo }}</option>
            {% endfor %}
        </select>
    </div>

 <div class="main-content"> 
    
    <div id="chart" style="width: 650px; height: 450px;"></divid>
       </div>
    <section class="product-list">
        <div class="product-container">
            {% for produto in produtos %}
                <div class="product-item">
                    <img src="{{ produto.imagem }}" alt="{{ produto.nome }}">
                    <h2>{{ produto.nome }}</h2>
                    <a href="{% url 'detalhes_produto' produto_id=produto.id %}" class="explore-btn">Detalhes</a>
                </div>
            {% empty %}
                <p>Você ainda não possui produtos cadastrados.</p>
            {% endfor %}
        </div>
    </section>
 
 </div>


    <!-- Scripts -->
    <script src="{% static 'js/products.js' %}"></script>
    <script>
        
         var contactModal = document.getElementById('contact-modal');
        var contactButton = document.querySelector('.contact-btn');
        var closeButton = document.querySelector('.close');

        contactButton.onclick = function() {
            contactModal.style.display = 'block';
        }

        closeButton.onclick = function() {
            contactModal.style.display = 'none';
        }

       
        window.onclick = function(event) {
            if (event.target == contactModal) {
                contactModal.style.display = 'none';
            }
        }

       
        var productDropdown = document.getElementById('product-dropdown');
        var productsButton = document.getElementById('products-btn');

        productsButton.onclick = function() {
            productDropdown.style.display = productDropdown.style.display === 'block' ? 'none' : 'block';
        }

        
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === 'block') {
                        openDropdown.style.display = 'none';
                    }
                }
            }
            if (event.target == contactModal) {
                contactModal.style.display = 'none';
            }
        }


        var myChart;

        document.addEventListener('DOMContentLoaded', function () {
            var datas = JSON.parse('{{ datas_json|safe }}');
            var velocidades = JSON.parse('{{ velocidades_json|safe }}');

            myChart = echarts.init(document.getElementById('chart'));

            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    type: 'category',
                    data: datas
                },
                yAxis: {
                    type: 'value'
                },
                grid: {
                    top: '8', 
                    right: '10%',
                    bottom: '10%',
                    left: '3',
                    containLabel: true 
                    },
                series: [{
                    data: velocidades,
                    type: 'line',
                    symbol: 'none', 
                    smooth: false,
                    itemStyle: {
                        color: 'black'
                    },
                    areaStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {
                                offset: 1,
                                color: '#FFD700'
                            },
                            {
                                offset: 0,
                                color: '#daa520'
                            }
                        ])
                    }
                }],
                dataZoom: [
                    {
                        type: 'inside',
                        start: 0,
                        end: 100
                    },
                    {
                        start: 0,
                        end: 100,
                        handleSize: '100%',
                        handleStyle: {
                            color: 'black',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.2)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        },
                        bottom: 4
                    }
                ]
            };

            myChart.setOption(option);
            loadSavedColors();
        });

        function updateChartColors() {
    var lineColor = document.getElementById('lineColor').value;
    var fillColor = document.getElementById('fillColor').value;

    if(myChart) {
        myChart.setOption({
            series: [{
                itemStyle: {
                    color: lineColor
                },
                areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        {offset: 0, color: fillColor},
                        {offset: 1, color: 'transparent'}
                    ])
                }
            }]
        });
    } else {
        console.error('Gráfico não inicializado.');
    }

    
    localStorage.setItem('lineColor', lineColor);
    localStorage.setItem('fillColor', fillColor);
}

function loadSavedColors() {
    var savedLineColor = localStorage.getItem('lineColor');
    var savedFillColor = localStorage.getItem('fillColor');

    if(savedLineColor && savedFillColor) {
        document.getElementById('lineColor').value = savedLineColor;
        document.getElementById('fillColor').value = savedFillColor;

        
        updateChartColors();
    }
}

document.getElementById('togglePersonalization').addEventListener('click', function() {
    var personalizationSection = document.getElementById('personalizationSection');
    if (personalizationSection.style.display === 'none') {
        personalizationSection.style.display = 'block';
        this.innerHTML = '↑';
    } else {
        personalizationSection.style.display = 'none';
        this.innerHTML = '↓';
    }
});

    </script>
</body>
</html>